.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.logoimg {
    width: 407px;
    height: 67px;
    margin-top: 46px;
}

.result-container {
    text-align: center;
    margin-bottom: 544px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-container {
    width: 728px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 178px;
    margin-bottom: 64px;
}

.your-type {
    font-size: 64px;
    color: white;
}

.your-type > p {
    margin: 0;
    padding: 0;
}

.your-type-first {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 37px;
}

.your-type-end {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 63px;
}

.type-name-stars {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 201px;
}

.type-name {
    height: 169px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.25);
    display: flex; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center; /* 추가 */
    margin: 0 auto; /* 가로 정렬 */
}

.type-name > .type-name-main {
    width: 585px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    font-size: 120px;
    color: #FD83FD;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.type-name > .type-name-friend-good-bad{
    margin: 0;
    padding: 45px;

    width: 433px;
    margin-top: 12px;
    font-size: 120px;
    color: #FD83FD;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;

}

.type-name > .type-name-friend-blue {
    color: #90F1FA;
}

.stars {
    width: 78px;
    height: 81px;
    position: absolute;
}

.stars-first {
    top: 0;
    left: 0;
}

.stars-end {
    bottom: 0;
    right: 0;
}

.type-description {
    width: 1537px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 148px 0;
}

.type-description-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 1537px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 72px;
    filter: blur(10px);
    z-index: -1;
}

.type-li-container {
    text-align: left;
    font-size: 40px;
    font-family: 'AppleSDGothicNeoB';
    align-self: flex-start;
    margin-left: 94px;
}

.type-li {
    margin-bottom: 49px;
    font-weight: bold;
    gap: 49px;
}

.friend-type {
    width: 606px;
    height: 693px;
    background-color: rgba(255, 255, 255, 0.250);
    border: 4px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    position: relative;
}

.friend-type > {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
}

.type-name-friend {
    /* width: 516px; */
    margin: 5px;
}



.heart {
    margin-top: 65px;
    margin-bottom: 10px;
}

.good-bad-friend-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 79px;
    margin-top: 124px;
}

.good-bad-friend-type-container{
    display: flex;
    flex-direction: column;
}

.good-bad-friend{
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
    
    display: flex;
    flex-direction: row;

    margin: 0;
    bottom: 0;

    margin-bottom: 25px;
    margin-left: 9px;
}

.type-good-bad-description{
    margin: 0;
    padding: 0;

    margin-top: 8px;
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
}

.type-details {
    margin: 0 auto;
    max-width: 100%; 
    text-align: center;
    position: absolute; 
    bottom: 0; 
    margin-bottom: 76px;
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
}

.finding-friend-graph {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.friend-graph-name-container {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.friend-graph-container {
    margin-top: 98px;
    height: 705px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 186px;
    z-index: 100;
}

.friend-name-container {
    width: 1137px;
    height: 705px;
    gap: 172px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.friend-name-container > p {
    font-size: 40px;
}

.finding-friend {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 218px;
    margin-top: 145px;
}

.friend-graph {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;
}

.friend-name {
    margin: 22px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    font-size: 40px;

    color: #414768;
}

.answer {
    top: 0;
    margin: 0;
    padding: 0;
}

.similar-friend {
    text-align: left;
}

.similar-friend > p {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.same-answers {
    margin-top: auto;
    margin-left: 10px;
}

.same-answers > p {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #2E2E2E;
}

.graph {
    width: 72px;
    height: 0; /* 초기 높이를 0으로 설정 */
    margin-bottom: 19px;
    background: linear-gradient(#FF3FF7, #FF7EFA, #FFBBFC, #FFD6FD, #FFFFFF);
    border-radius: 15px 15px 0px 0px;
    overflow: hidden; /* 내용이 넘치는 경우를 대비하여 overflow를 hidden으로 설정 */
    transition: height 1s ease; /* 애니메이션 트랜지션 설정 */
}

.answer-animation {
    animation: slideInFromLeft 1s ease forwards;
}

@keyframes growGraph {
    0% {
        height: 0;
    }
    100% {
        height: var(--graph-height);
    }
}

.graph-animation {
    animation: growGraph 1s ease forwards;
}

.friend-graph-bg {
    width: 1137px;
    height: 705px;
    border-radius: 30px;
    border: 4px solid black;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 0;
    top: 0;
    position: absolute;
}

.graph-tip {
    margin: 94px 0px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 551px;
    height: 121px;
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
}

.tip-img {
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0;
    margin: 14px;
    top: 0;
}

.tip-text {
    position: absolute;
    font-size: 32px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: calc(436px * 2 + 691px);
    /* 두 버튼의 너비와 버튼 사이의 간격의 합 */
    margin: 0 auto;
    /* 가운데 정렬 */
}

.retry-btn,
.hotplace-btn {
    width: 436;
    height: 152;
    font-size: 48px;
    padding: 49px 80px;
    background: linear-gradient(#ffffff, #65FFE3);
    border: 4px solid black;
    border-radius: 66px;
    box-shadow: 0px 5px 4px rgb(0, 0, 0);
    font-family: 'AppleSDGothicNeoB';
    font-weight: bold;
    margin-top: 106px;
}
